button {
	background-color: transparent;
	border: 1px solid rgba($white, 0.5);
	border-radius: 6px;
	flex-grow: 1;
	flex-shrink: 1;
	height: em(36px);
	margin: em(6px);
	max-width: 210px;
	padding-left: em(24px);
	padding-right: em(24px);
	transition: border $transition,
		background-color $transition;

	&:hover {
		// -webkit-text-fill-color: transparent; 
		// -webkit-background-clip: text;
		border: 1px solid rgba($white, 1);
		box-shadow: inset 0 0 2px 1px rgba($white, 0.25);
	}


}

.is-active {
	background-color: white;
	color: $blue;
}