button {
	background-color: transparent;
	border: $white 1px solid;
	border-radius: 6px;
	flex-grow: 1;
	flex-shrink: 1;
	height: em(36px);
	margin: em(6px);
	max-width: 210px;
	padding-left: em(24px);
	padding-right: em(24px);

	&:hover {
		// -webkit-text-fill-color: transparent; 
		// -webkit-background-clip: text;
		background: white;
		color: rgb(162, 75, 207);
	}


}

.is-active {
	background-color: white;
	color: rgb(162, 75, 207);
}