.quiz--theme1 {
	@include radial-gradient(right, $black);
	border-right: 1px solid rgba($white, 0.05);
}
.quiz {
	@extend .quiz--theme1;

	padding: em(24px);
	padding-left: 2.5em;
	width: 28%;
	height: 100%;

	header:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.quiz__header--theme1 {
	h4 {
		font-size: em(14px);
		font-weight: 400;
		color: rgba($white, 0.5);
		letter-spacing: .4px;

		a {
			color: inherit;
			text-decoration: none;
			transition: color $transition;

			&:hover {
				color: rgba($white, 1);
			}
		}
	}
}
.quiz__header {
	@extend .quiz__header--theme1;
}

.quiz__mix-info--theme1 {
	h3 {
		font-weight: 400;
		color: rgba($white, 0.5);
	}
	h1 {
		font-size: em(38px);
		line-height: em(38px, 38px);
	}
	ul.cocktail-ingredients {
		font-size: em(24px);
	}
}
.quiz__mix-info {
	@extend .quiz__mix-info--theme1;
	h3, h1 {
		margin: 0;
	}
	ul.cocktail-ingredients {
		margin-top: em(16px, 24px);
		min-height: em(135px, 24px);
		transition: height 0.2s ease-in-out;
	}
}





