//variables
$browser-context: 16px;
$white: #fff;

//mixins
@mixin answerQuizShared {
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	padding: em(24px);
	vertical-align: top;
}

//functions
@function em($px, $context: $browser-context) {
	@if ( unitless($px) ) { $px: $px * 1px; }
	@if ( unitless($context) ) { $context: $context * 1px; }
	@return $px / $context * 1em;
}

//extensions
button {
	border: $white 1px solid;
	border-radius: 6px;
	background-color: transparent;
	height: em(36px);
	margin: em(6px);
	padding-left: em(24px);
	padding-right: em(24px);

	&:hover {
		background-color: white;
		color: rgb(162, 75, 207);
	}


}
	.is-active {
		background-color: white;
		color: rgb(162, 75, 207);
	}